[Desktop Entry]
Version=1.0
Type=Application
Name=Web Browser
Comment=Browse the World Wide Web
Exec=firefox %u
Icon=/usr/lib/firefox/browser/icons/mozicon128.png
Terminal=false
StartupNotify=true
